h1,h2,body{
    color: rgb(196, 190, 190);
    font-family: "Poppins",sans-serif;

}
/*h1{
   font-size: 800%; 
}*/

body{
    background-color: black;
}
img{
    position: relative;
    top: 200px;
}

h2,h4{
    position: relative;
    top: 300px;
}

h4{
    display: inline;
}