*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 0px,60px;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    
}
.logo{
    margin-left: 4%;
    width: 4%;
}

.logo img{
    width: 150px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
nav{
    margin-left: 100px;
    flex: 1;
}
nav ul{
    padding-left: 10%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 3%;
    align-items:center;
    position: relative;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(194, 191, 191);
    text-transform: uppercase;
    font-size: 20px;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    

}
nav ul li a:hover{
transition: 0.5s;
color: #fff ;
}

nav ul li:hover::after{
    width: 100%;
    
}

  

.user{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    
}
.user img{
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    margin-right: 30px;
}
.user p{
    font-size: 30px;
    font-family: Freestyle Script;
}
/*----------------------------------------------------------------------------- */
.container{
    background-color: rgb(206, 206, 206);
}
#top-logo{
    width:35%;
    margin: 10% 32% auto 33%;
}
#top-back-photo{
    margin: 5% 20% auto 20%;
    width: 60%;
   
}
.top-front-photo img{
    width: 20%;
    margin: -8% auto auto 40%;
}
.about{
    width: 40%;
    margin: 20% 5% auto 10%;
    text-align: center;
}
.about h1{
    text-align: center;
    margin-bottom: 3%;
    font-size: 40px;
}
#p1{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
#p2{
    text-align: center;
    margin: 8% auto 10% auto; 
}
#a1{
    border: 3px solid black;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    
}
#photo1{
    width:80%;
    margin-top: -90%;
    margin-left: 120%;
}


.service{
    background-color: black;
    color: #fff;
}
.service {
    text-align: center;
    padding: 4%;
    margin-top: 7%;
}
#service-h2{
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 1%;
    
}
.service h1{
    letter-spacing: 3px;
    margin-bottom: 3%;
}
.service p{
    font-size: 20px;
    margin: auto 20%;
    margin-bottom: 3%;
}
#p3{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

#table1{
    width: 80%;
    margin:4% 10%  ;
}

.table-data1{
    border-radius: 30px;
    padding: 20px 0 ;
}
.icons1{
    width:20%;
    margin-bottom: 3%;
}
.table-data1:hover{
    border: 3px solid white;
    border-radius: 30px;
    transition: 0.5s;
}
.table-data-heading{
    
    padding:4%;
}
.bottom{
    background-color: #fff;
    display: flex;
}
.image-map{
    padding:7% auto 5% 10%;
    margin-left: 10%;
}
.promotion{
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;text-align: center;
}
#promotion-h1{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.promotion-h2{
     font-size: 38px;
    margin-bottom: 3%;
    color: rgb(0, 22, 122);
}
.promotion-p{
    font-style: 24px;
    margin-bottom: 40px;
}
#a2{
    border: 3px solid black;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    
}
/*-------------------------------------------------------footer---------------------------------------------------------*/

footer{
    margin-top: -5px;
    bottom: 0px;
    width: 100%;
    background: rgb(0, 0, 0);
    color: #ddd;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
  
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.content ul li{
    margin-left: 6%;
}
.center{
    margin-left: 5%;
}
.left{
    margin-left: 3%;
}
 .text{
padding: 5px;
 }
 .s-icons{
     width: 40px;
     padding: 25px 15px 0 0 ;
 }
 .s-icons-y{
     height: 50px;
     padding: 15px 0 0 0;
 }
.logo-bottom {
    width: 20%;
    margin-left: 40%;
}
.logo-bottom-p {
    font-size: 20px;
    margin-left: 40%;
}
#copyright{
    margin: 3% 26% auto 26%;
}