.home{
    fill: #fff;
    font-family: sans-serif;
}

.gallery{
    fill: #fff;
    font-family: sans-serif;
}

.svg{
    fill: #fff;
    font-family: sans-serif;
}

.thumb{
    fill: #fff;
    font-family: sans-serif;
}

.query{
    fill: #fff;
    font-family: sans-serif;
}

.quiz{
    fill: #fff;
    font-family: sans-serif;
}

.presentation{
    fill: #fff;
    font-family: sans-serif;
}
